<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:object="${calcolatriceBean}" th:action="@{/invia}">
    <table>
        <tr>
            <td><input type="text" th:field="*{val1}"/></td>
            <td th:if="${#fields.hasErrors('val1')}" th:errors="*{val1}">Val Error</td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{val2}"/></td>
            <td th:if="${#fields.hasErrors('val2')}" th:errors="*{val2}">Val Error</td>
        </tr>
        <tr>
            <td><button type="submit" name="action" value="somma">Somma</button></td>
        </tr>
        <tr>
            <td><button type="submit" name="action" value="sottrazione">Sottrai</button></td>
        </tr>
        <tr>
            <td><button type="submit" name="action" value="prodotto">Moltiplica</button></td>
        </tr>
        <tr>
            <td><button type="submit" name="action" value="divisione">Dividi</button></td>
        </tr>
    </table>
</form>
</body>
</html>