<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<form action="#" th:object="${operazione}" th:action="@{/esegui}">
    <table>
        <tr>
            <td><input type="text" th:field="*{add1}"/></td>
        </tr>
        <tr>
            <td><input type="text" th:field="*{add2}"/></td>
        </tr>
        <tr>
            <td>
                <button type="submit" name="somma">somma</button>
            </td>
            <td>
                <button type="submit" name="moltiplica">moltiplicazione</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>